{% extends "base.html" %}

{% block title %}醉美彤彤商品查询系统{% endblock %}

{% block page_content %}
    {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
            </div>
    {% endfor %}

    <form method="post">
        <select name="flist">
            <option value="1">商品货位</option>
            <option value="2">标题查询</option>
            <option value="3">重复上架</option>
            <option value="4">库存<10</option>
            <option value="5">无货位</option>
            <option value="6">库存<5</option>
            <option value="7">货位反查</option>
        </select>
        <label><input name="stock" type="checkbox" value="instock" />出售 </label> 
        款号：<input type="text" name="outer_id"/>
        <input type="submit" name="submit_outer_id" value="提交"/>    
    </form>

    <table class="table table-bordered">
    <tr>
        <th>商品图片</th>
	    <th>商家编码</th>
        <th>状态</th>
        <th>店铺</th>
        <th>位置</th>
	    <th>商品ID</th>
        
    </tr>
        {% for i in u %}
            <tr>

            <td><a href="https://item.taobao.com/item.htm?id={{ i[0] }}"target="_blank"><img src={{ i[6] }} width="64" height="64"></a></td>
    		<td><a href="https://item.taobao.com/item.htm?id={{ i[0] }}"target="_blank"> {{ i[1] +'('+i[5]+')' }}</a></td>
    		{% if i[2] == 2 %}
                <td style="color:red">{{ i[3] }}</td>
    		{% else %}
    		    <td>{{ i[3] }}</td>
    		{% endif %}
    		<td>{{ i[4] }}</td>
    		<td> 
                <form method="post">  <input type="text" size=10 name="position" value={{ i[5] }}>
    				<input type="hidden" name="num_iid" value={{ i[0] }}>
                    <input type="hidden" name="outer_id" value={{ i[1] }}>
    				<input type="submit" name="submit_save" value="保存">
                </form>
    		</td>
    		<td>{{ i[0] }}</td>
            
            </tr>
        {% endfor %}
    </table>

{% endblock %}
